@font-face{font-family:"CP437";src:url("cp437.eot");src:url("cp437.woff") format("woff"),url("cp437.ttf") format("truetype"),url("cp437.svg#webfontpVS4iJcr") format("svg");font-weight:normal;font-style:normal}
pre {font:8px CP437,monospace,monospaced;line-height:16px}
